---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE, SOCIALS } from "@config";

---

<Layout>
	<Header />
	<main id="main-content">
		<section id="hero">
      <div class="relative">
        <img src="/garlic.svg" class="h-96 opacity-50 float-right">
        <div class="w-full absolute top-0 left-0">
          <h1>Garlic</h1>
          <p>
            Blog under construction based on AstroPaper template. 
          </p>
          <p>
            Duis nec gravida elit. Orci varius natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus. Sed eu blandit nunc. In imperdiet, dolor efficitur elementum 
            consequat, velit elit hendrerit orci, sed pellentesque lacus nisi in ligula. 
            Pellentesque efficitur non sem in bibendum. Maecenas ac ligula nisi.
          </p>
        </div>
      </div>
		</section>
	</main> 
	<Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
